.agenda-button {
  position: absolute;
  width: 121.86px;
  height: 49.98px;
  left: 1013px;
  top: 619px;
  
  background: #F2D649;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;  


  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #000000;
}


